.rating {
  display: flex;
  gap: 4px;
}

.rating img {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .rating img {
    width: 24px;
    height: 24px;
  }

  .rating {
    gap: 0;
  }
}