.housing {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 60px;
}

/* Section Top */

.housing-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.housing-top-left {
  flex: 1;
}

.housing-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

/* Titre + Localisation */

.housing-header h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  margin: 0;
}

.housing-header p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

/* Carousel */

.carousel {
  position: relative;
  width: 100%;
  height: 380px;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Flèches */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 130px;
  line-height: 1;
  cursor: pointer;
  z-index: 10;

  width: auto;
  height: auto;
  padding: 0;


&:focus { 
  outline: none; 
}

&.left { 
  left: 20px; 
} 

&.right { 
  right: 20px; 
}
}


/* Compteur */
.carousel-counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/* Collapse */

.housing-collapses {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

.housing-collapses .collapse {
  flex: 1;
}

/* Mobile */

@media (max-width: 768px) {

  .housing {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  /* Layout top devient vertical */
  .housing-top {
    flex-direction: column;
    gap: 10px;
  }

  /* Host + Rating sur la même ligne */
  .housing-top-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* Titre + location responsive */
  .housing-header h1 {
    font-size: 20px;
  }

  .housing-header p {
    font-size: 16px;
    font-weight: 500;
  }

  /* Carousel */
  .carousel {
    height: 300px;
    border-radius: 10px;
  }

  .carousel-arrow {
    font-size: 28px;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }

  .carousel-counter {
    display: none;
  }

  /* Collapses empilés */
  .housing-collapses {
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
  }
}
  