.tags {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.tags span {
  background-color: #ff6060;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

@media (max-width: 768px) {
  .tags span {
    max-width: 120px;
    font-size: 12px;
    padding: 4px 10px;
  }
}