.home {
  width: 100%;
}

/* CONTENEUR GLOBAL */

.home-content {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* CARDS */

.cards-container {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 56px;
  margin: 43px 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

/* ================= RESPONSIVE ================= */

/* Tablette */
@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0;
    background-color: transparent;
  }
}
