.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    position: absolute;
    bottom: 20px;
    left: 20px;

    color: white;
    font-size: 18px;
    font-weight: 700;
    max-width: 90%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .card {
    aspect-ratio: 4 / 3;
  }
}
