.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host p {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  color: #FF6060;
}

.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .host {
    gap: 6px;
  }
  
  .host img {
    width: 40px;
    height: 40px;
  }

  .host p {
    font-size: 14px;
  }
}