.collapse {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;

}

/* HEADER */
.collapse-header {
  width: 100%;
  background-color: #ff6060;
  color: white;
  border: none;
  outline: none;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-header:focus,
.collapse-header:focus-visible {
  outline: none;
  box-shadow: none;
}

.collapse-title {
  font-size: 24px;
  margin: 0;

}

/* FLÈCHE */
.collapse-arrow {
  transition: transform 0.3s ease;
}

/* CONTENT — ÉTAT FERMÉ (PAR DÉFAUT) */
.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f6f6f6;
}

/* CONTENT — ÉTAT OUVERT */
.collapse-open .collapse-content {
  max-height: 1000px;
}

/* ROTATION FLÈCHE */
.collapse-open .collapse-arrow {
  transform: rotate(180deg);
}

/* TEXTE */
.collapse-content p {
  margin: 0;
  padding: 15px;
}

@media (max-width: 768px) {
  .collapse-header {
    padding: 10px 12px;
    border-radius: 5px;
  }

  .collapse-title {
    font-size: 13px;
  }

  .collapse-arrow {
    width: 16px;
  }

  .collapse-content {
    padding: 12px;
    font-size: 12px;
  }

  .collapse-content p {
    margin: 0;
  }

  .collapse-content ul {
    margin: 0;
    padding-left: 18px;
  }
}