.collapse {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER */
.collapse-header {
  width: 100%;
  height: 52px;
  background-color: #ff6060;
  color: white;
  border: none;
  outline: none;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-header:focus,
.collapse-header:focus-visible {
  outline: none;
  box-shadow: none;
}

.collapse-title {
  font-size: 20px;
  margin: 0;
}

/* FLÈCHE */
.collapse-arrow {
  transition: transform 0.5s ease;
}

/* CONTENT — ÉTAT FERMÉ */
.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: #f6f6f6;
  padding: 0 15px;
}
.collapse-inner {
  padding: 12px 0;
}

/* CONTENT — ÉTAT OUVERT */
.collapse-open .collapse-content {
  max-height: 1000px;
}

/* ROTATION FLÈCHE */
.collapse-open .collapse-arrow {
  transform: rotate(180deg);
}

/* TEXTE */
.collapse-content p {
  margin: 0;
}

.collapse-content ul {
  list-style: none;
  margin: 0;
  padding-left: 18px;
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
  .collapse-header {
    height: auto;
    padding: 10px 12px;
    border-radius: 5px;
  }

  .collapse-title {
    font-size: 13px;
  }

  .collapse-arrow {
    width: 16px;
  }

  .collapse-content {
    font-size: 12px;
  }
}