.header {
  width: 100%;
  padding: 40px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  img {
    height: 60px;
    flex-shrink: 0;
  }

  nav {
    display: flex;
    gap: 50px;
    white-space: nowrap;

    a {
      font-size: 20px;
      font-weight: 500;
      color: black;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    padding: 20px;

    img {
      height: 47px;
    }

    nav {
      gap: 20px;

      a {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
