.footer {
  margin-top: auto;
  background-color: #000;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 66px 0;

  img {
    height: 40px;
    margin-bottom: 30px;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
}
