.footer {
  width: 100%;
  background-color: #000;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 66px 20px;

  img {
    height: 40px;
    margin-bottom: 30px;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {
  .footer {
    p {
      font-size: 12px;
    }
  }
}