.banner {
  position: relative;
  height: 223px;
  padding: 0 100px;
  
  

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  h1 {
    position: absolute;
    inset: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  
    max-width: 733px;
    margin: 0 auto;
  
    white-space: nowrap;
  }
  
}