.error {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

/* TITRE */
.error-title {
  font-size: 250px;
  font-weight: 700;
  color: #ff6060;
  margin: 0;
}

/* TEXTE */
.error-text {
  font-size: 30px;
  font-weight: 500;
  color: #ff6060;
  margin: 40px 0 80px;
}

/* LIEN */
.error-link {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  margin-bottom: 60px;
}

/* MOBILE */
@media (max-width: 768px) {

  .error {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 20px;
  }

  .error-title {
    font-size: 96px;
    margin-bottom: 60px;
  }

  .error-text {
    font-size: 18px;
    margin: 60px 0 90px;
  }

  .error-link {
    font-size: 14px;
  }
}
